@(message: String, username: String)
@stylesheets = {
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")"/>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />       
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/onepage/css.css")" />   
}

@scripts = {
} 

@helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/onepage/main").url)

@onepage_main("T.S.O.P",stylesheets,scripts)(message, username) 
